# dependencies
**/node_modules

# build outputs
**/dist
**/dist-ssr
**/.vite
android/**/build
android/.gradle
android/local.properties

# env files (never commit secrets)
**/.env
**/.env.*
android/app/google-services.json

# logs
**/logs
**/*.log

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
